<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>AngularJS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script th:src="@{/main.js}"></script>
	<link th:href="@{/main.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<head>
	<body ng-app="EmployeeManagement" ng-controller="EmployeeController">
		<!-- navigation bar  -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				SpringBoot + Angular CRUD
			</a>
		</nav>
		<p></p>
		<!-- sumbmisson form  -->
		<div class="container">
			<form ng-submit="submitEmployee()">
				<div class="form-group">
					<label for="Employee Number">Employee Number</label>
					<input type="text" class="form-control" ng-model="employeeForm.empNo" placeholder="Employee Number">
				</div>
				<div class="form-group">
					<label for="Name">Employee Name</label>
					<input type="text" class="form-control" ng-model="employeeForm.empName" placeholder="Employee Name">
				</div>
				<button type="submit" value="Submit" class="btn btn-success">Submit</button>
				<button type="button" class="btn btn-primary" ng-click="createEmployee()">Add Employee</button>
				<p>  </p>
				<p> make sure the current mode is "-1" after click "add employee" </p>
				<p> Current Mode : {{employeeForm.empId}} </p>
			</form>
			<p></p>
			<!-- employee data table  -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Employee Number</th>
						<th scope="col">Name</th>

						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td> {{ employee.empId }}</td>
						<td> {{ employee.empNo }}</td>
						<td>{{ employee.empName }}</td>
						<td>
							<button type="button" class="btn btn-outline-primary"
								ng-click="editEmployee(employee)">Edit</button>
						</td>
						<td>
							<button type="button" class="btn btn-outline-danger"
								ng-click="deleteEmployee(employee)">Delete</button>
						</td>
				</tbody>
			</table>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
				crossorigin="anonymous"></script>
	</body>
	</div>
</html>